<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="5">
	<listeners>
		<listener class-name="com.test.Oct2023v1.RetryAnalyzerListener"></listener>
	</listeners>
	<test thread-count="4" name="Test">
		<classes>
			<class name="com.test.Oct2023v1.InvokeApps" />
			<class name="com.test.Oct2023v1.git1" />
			<class name="com.test.Oct2023v1.ReadDataE" />
			<class name="com.test.Oct2023v1.Amz1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
